<table>
  <thead>
    <tr>
      <th>Physics</th>
      <th>Scheme</th>
      <th>Details</th>
      <th>Reference</th>
    </tr>
  </thead>
  <tbody>
    {% for phys in page[include.component].physics %}
      {% assign physname = phys | first %}
      {% if site.data.labels[physname] %}
        {% assign physname = site.data.labels[physname] %}
      {% else %}
        {% assign physname = physname | capitalize %}
      {% endif %}
      {% assign refs = phys[1].references %}
      <tr>
        <td>{{ physname }}</td>
        <td>{{ phys[1].name }}</td>
        <td>{{ phys[1].description }}</td>
        <td>{% include references.html references=refs %}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

